.top {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    flex-wrap: wrap;
}

.container2 {
    width: 65vw;
    margin: 0 auto;
}
/*
.parent-container {
    
}*/

.intop {
    display: flex;
}

.info {
    display: block;
}

#home {
    flex: 1;
}

#home h3 {
    font-size: 20px;
}

#home img {
    max-width: 25px;
    width: 100%;
    height: 25px;
    margin-right: 10px;
}
.storePhoto {
    flex: 1;
}
.storePhotoImg {
    box-sizing: border-box;
    object-fit: cover;
}

.heartOut {
    display: flex;
    margin-left: auto; /* Moves the element to the right edge */
    margin-top: 10px;
    align-items: flex-end;
    justify-content: end;
    align-items: center;
}

.heartOut h3 {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 5px;
}

.infoBox {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 100%;
    margin-left: 20px;
    margin-top: 50px;
    /*
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 50px;
    width: 100%;
    height: 31px;
    */
}

.boxin {
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.boxin img {
    max-width: 15px;
    width: 100%;
    height: 15px;
    margin-top: 0px;
    margin-left: 8px;
}

.boxin h3 {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-content: flex-start;
}

.infoTop {
    display: flex;
}

.rating {
    margin-top: 80px;
    margin-left: 30px;
}

.heartStar {
    display: flex;
}

.heartStar h3 {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.Hashtage {
    display: flex;
    margin-top: 10px;
}

.HashtagBox {
    width: 60.07px;
    height: 25px;
    margin-right: 6px;
    background-color: black;
    border-radius: 20px;
}

.HashtagBox h3 {
    font-size: 12px;
    color: white;
    position: absolute;
    margin-top: 5px;
    margin-left: 7px;
}

.introduction {
    width: 100%;
    margin-left: 30px;
    padding-right: 30px;
}

.introduction h2 {
    font-size: 15px;
    font-weight: bold;
}

.introBox {
    height: 97px;
    overflow: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.introScript {
    font-size: 12px;
    margin: 13px;
    line-height: 1.5;
}

.middleLine {
    width: 65vw;
    height: 2px;
    background-color: #000000;
    margin: 0 auto;
}

.middleTop {
    margin-top: 10px;
    justify-content: space-between;
    width: 65vw;
}

.middleText {
    font-size: 20px;
    font-weight: bold;
}

.middle {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
}

.down {
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
}

.reviews {
    margin-top: 20px;
    width: 100%;
}

.reviewsfont {
    display: flex;
    margin-bottom: 6px;
}

.reviews h2 {
    font-size: 24px;
    font-weight: bold;
}
.viewsMore {
    font-size: 10px;
}

.review-box {
    width: 100%;
    height: 530px;
    border: 1px solid #ffffff;
    padding: 10px;
}

.review {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100%;
    height: 210px;
    margin-top: 30px;
}

.review:last-child {
    border-bottom: none;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.nickname {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -20%;
    margin-left: 60px;
}

.star-rating {
    font-size: 18px;
    color: gold;
    margin-right: 5px;
    position: relative;
    top: -25%;
    margin-left: 60px;
}

.date {
    font-size: 10px;
    color: #8f8f8f;
    position: relative;
    bottom: 70%;
    margin-left: 120px;
}

.comment {
    font-size: 14px;
    max-width: 400px;
    width: 100%;
    position: relative;
    top: -20px;
    left: 65px;
}

.photo {
    width: 244px;
    height: 183px;
    object-fit: cover;
    position: relative;
    bottom: 76%;
    float: right;
}

.modify {
    max-width: 113px;
    width: 100%;
    height: 25px;
    background-color: black;
    border-radius: 20px;
    float: right;
    margin-top: -30px;
    padding: 3px 12px;
}

.modify h3 {
    color: white;
    font-size: 14px;
    align-content: center;
    padding: 3px 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 460px;

    margin-top: 50px;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    margin-left: 200px;
}

.button-container {
    display: flex;
    gap: 32px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 100%;
}

.button:hover {
    background-color: black;
    color: white;
}

.button:active {
    background-color: black;
    color: white;
}
