.container {
    margin: 0 auto 20px auto;
    padding: 0 10vw;
    font-family: 'GmarketSansMedium';
}

@media (max-width: 1000px) {
    .container {
        padding: 0 8vw;
    }
}

.containerHeader {
    padding: 15px 0;
}

.containerHeader > img {
    width: 15px;
    cursor: pointer;
}

.containerInputWrap {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
}

.titleInput {
    padding: 10px 5px;
    border-bottom: 1px solid #cecece;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
}

.contentInput {
    font-size: 13px;
    border: 0;
    height: 300px;
    padding: 10px 5px;
    overflow: auto;
    resize: none;
    font-family: 'Pretendard-Regular';
}

.additionalMent {
    margin-top: 5px;
    font-size: 12px;
    color: #7b7b7b;
}

.completeBt {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 3px 12px;
    float: right;
    font-size: 13px;
    cursor: pointer;
}

.pictureInputWrap {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pictureInputWrap > div {
    background-color: #f5f5f5;
    color: #7b7b7b;
    padding: 30px;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    width: calc(33.3% - 5px);
    font-size: 12px;
    height: 40vh;
    line-height: 15px;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.pictureInputBox input[type='file'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
